#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-links {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav-item {
  display: inline;
  position: relative;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 1px;
  transition:
    color 0.3s ease-in-out,
    background 0.3s ease-in-out;
  position: relative;
  display: inline-block;
}

.nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2%;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out;
}

.nav-item a:hover::after {
  width: 100%;
}

.web-logo {
  width: 130px;
  height: auto;
}

.navbar {
  position: fixed; /* Keeps it at the top */
  top: 10px;
  left: 0;
  align-items: center;
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
